/* You can add global styles to this file, and also import other style files */
.animated {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @media (prefers-reduced-motion) {
    .animated {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
    }  
  }
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      
      .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
      }
      @-webkit-keyframes slideInUp {
        from {
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @keyframes slideInUp {
        from {
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
      }
      @-webkit-keyframes slideInDown {
        from {
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @keyframes slideInDown {
        from {
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      .slideInDown {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
      }